@using Toci.Subotai.Dal.Gatekeeper.Interfaces
@model  List<Toci.Subotai.Dal.Gatekeeper.Interfaces.Product>

@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

@foreach (Product prod in Model)
{
	<h2>
	@prod.Price
	</h2>
}